.DS_Store
node_modules
npm-debug.log
.deploy/bundle/*
.deploy/.*
.deploy/manifest*.*

\.vscode/

storybook-static

\.deploy-mup/

deployment_token\.json

settings-prod\.json
settings\.json
settings*.json
private/googleKey\.json


!packages/app-prod-tools

settings-prod-galaxy\.json
settings-prod-ibm\.json

.testing/cypress/screenshots/

dump
.env.json
.env-cmdrc.json
/.idea/
dump.zip
dump.sh
manifest-*.yml
.ibm-project
.meteor/.ibm/toolchain/.env.json
report.*.json
.nvmrc
#allow manifest for deploy
!.deploy/manifest-app.yml

#graphql-codegen
graphql-types.d.ts
graphql.schema.json
.graphqlconfig.yml__
.meteor/test/
.devcontainer
.coverage
.testing/nyc-output




testFile.txt
ops

#dhl testing files
imports/api/shipmentPicking/services/DHL/testing/**.pdf
imports/api/shipmentPicking/services/DHL/testing/**.xml
dump.rdb
